.map-contact-section {
    width: 100%;
    margin-top: 70px;
    .container {
        .map-contact-container {
            width: 100%;
            position: relative;
            
            &--map {
                width: 100%;
                border: none;
                height: 390px;
                border-bottom: 10px solid $color-yellow;
            }
        }
    }
}