// styling primary button

.btn-primary {
    padding: 10px 30px;
    background-color: $color-yellow;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    .button-value {
        position: relative;
        font-size: $font-text;
        font-weight: $font-semi-bold;
        font-family: $font-spartan;
        color: $color-black;
    }
    &::before {
        width: 9px;
        height: 9px;
        content: '';
        background-color: $color-red;
        bottom: 0;
        right: 0;
        position: absolute;
        transition: .2s;
    }
    &:hover::before {
        width: 100%;
        height: 100%;
    }
    @include break-point-down(mb) {
        display: block;
        text-align: center;
    }
}

.btn-secondary {
    color: $color-yellow-active;
    position: relative;
    display: inline-block;
    font-size: $font-h3-mobile;
    @include break-point-down(md) {
        font-size: $font-text;
    }
    img {
        transition: .2s;
    }
    &:hover img {
        transform: translateX(5px);
    }
}
.custom-button-container {
    width: 100%;
    cursor: pointer;
    &__img-holder {
        width: 100%;
        height: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../assets/imgs/magazins/magazine1.png');
        position: relative;
        @include break-point-down(md) {
            height: 120px;
        }
        &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba($color: $color-black, $alpha: .5);
            content: '';
            top: 0;
            left: 0;
        }
    }
    &__content-holder {
        width: 100%;
        padding: 6px 20px;
        background-color: $color-yellow;
        position: relative;
        @include break-point-down(md) {
            padding: 6px 5px;
        }
        &--heading {
            display: inline-block;
            position: relative;
            z-index: 1;
            font-size: $font-h2-desktop;
            font-weight: $font-regular;
            font-family: $font-anton;
            text-transform: uppercase;
            @include break-point-down(md) {
                font-size: 2.6rem;
                line-height: 44px;
            }
            &::before {
                content: '';
                clip-path: polygon(0 0, 0% 100%, 51% 50%);
                background-color: $color-black;
                width: 54px;
                top: 50%;
                transform: translateY(-50%);
                height: calc(100% - 37px);
                position: absolute;
                right: -64px;
                @include break-point-down(md) {
                    height: calc(100% - 18px);
                    width: 27px;
                    right: -33px;
                }
            }
        }
        &::after {
            width: 10px;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            content: '';
            background-color: $color-red;
            transition: .3s;
        }
    }
    &:hover .custom-button-container__content-holder::after{
        width: 100%;
    }
    
}