// main colors

$color-black: #000;
$color-white: #fff;

$color-yellow: #D9F958;
$color-yellow-active: #748631;
$color-red: #D95252;
$color-valid-red: #E34444;
$color-turquoise: #30A8AF;
$color-darknes: #1E1E1E;
